<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pila.mapper.AdminMapper">

	<!-- 관리자 상품 등록 -->
	<insert id="register">
		<![CDATA[
		insert into tbl_goods (gdsNum, gdsName, cateCode, price, stock, gdsDes, gdsImg, thumbImg)
		values (tbl_goods_seq.nextval, #{gdsName}, #{cateCode}, #{price}, #{stock}, #{gdsDes}, #{gdsImg}, #{thumbImg})
		]]>
	</insert>
	
	<!-- 관리자 상품 리스트 -->
	<select id="getList" resultType="com.pila.domain.GoodsVO">
		<![CDATA[
			 select *
			 from tbl_goods order by regDate desc
		 ]]> 	 
	</select>
	
	<!-- 상품 조회 -->
	<select id="read" resultType="com.pila.domain.GoodsVO">
		select * from tbl_goods where gdsNum=#{gdsNum}
	</select>
	
	<!-- 상품 수정 -->
	<update id="update">
		update tbl_goods
		set gdsName=#{gdsName}, cateCode=#{cateCode}, price=#{price}, stock=#{stock}, gdsDes=#{gdsDes}, gdsImg=#{gdsImg}, thumbImg=#{thumbImg}
		where gdsNum=#{gdsNum}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="delete">
		delete tbl_goods
		where gdsNum = #{gdsNum}
	</delete>
	
	<!-- 고객 주문 상세보기 -->
	<select id="orderView" resultType="com.pila.domain.OrderListVO">
		select o.orderId, o.userId, o.receiver, o.userAddr1, o.userAddr2, o.userAddr3, o.orderPhone, o.orderDate, o.delivery,
			d.orderDetailsNum, d.gdsNum, d.cartStock, g.gdsName, g.thumbImg, g.price
		from tbl_order o inner join tbl_order_details d on o.orderId = d.orderId 
						inner join tbl_goods g on d.gdsNum = g.gdsNum
		where o.orderId = #{orderId}
	</select>
	
	<!-- 구매후 재고량 감소 -->
	<update id="updateStock">
		update tbl_goods set stock = stock-#{stock}, sellCount = sellCount + 1
		where gdsNum = #{gdsNum}
	</update>
	
	<!-- 배송 상태 변경 -->
	<update id="delivery">
		update tbl_order set delivery = #{delivery}
		where orderId = #{orderId}
	</update>
	
	<!-- 배송 대기 목록 -->
	<select id="orderList_wait" resultType="com.pila.domain.OrderVO">
	<![CDATA[
		select *
		from (
			select rownum rn, orderId, userId, receiver, userAddr1, userAddr2, userAddr3, orderPhone, amount, orderDate, delivery
			from tbl_order
			where ROWNUM <= #{pageNum} * #{amount} and delivery = '배송준비' order by orderdate desc
		)
		where rn > (#{pageNum}-1) * #{amount}
	]]>
	</select>
	
	<!-- 배송 대기 목록 총 갯수 파악하기 -->
	<select id="getTotal_wait" resultType="int">
		select count(*)
		from tbl_order
		where delivery = '배송준비'
	</select>
	
	<!-- 배송 중인 목록 -->
	<select id="orderList_deli" resultType="com.pila.domain.OrderVO">
	<![CDATA[
		select *
		from (
			select rownum rn, orderId, userId, receiver, userAddr1, userAddr2, userAddr3, orderPhone, amount, orderDate, delivery
			from tbl_order
			where ROWNUM <= #{pageNum} * #{amount} and delivery = '배송중' order by orderdate desc
		)
		where rn > (#{pageNum}-1) * #{amount}
	]]>
	</select>
	
	<!-- 배송 중인 목록 총 갯수 파악하기 -->
	<select id="getTotal_deli" resultType="int">
		select count(*)
		from tbl_order
		where delivery = '배송중'
	</select>
	
	<!-- 배송 완료 목록 -->
	<select id="orderList_comp" resultType="com.pila.domain.OrderVO">
	<![CDATA[
		select *
		from (
			select rownum rn, orderId, userId, receiver, userAddr1, userAddr2, userAddr3, orderPhone, amount, orderDate, delivery
			from tbl_order
			where ROWNUM <= #{pageNum} * #{amount} and delivery = '배송완료' order by orderdate desc
		)
		where rn > (#{pageNum}-1) * #{amount}
	]]>
	</select>
	
	<!-- 배송 완료 목록 총 갯수 파악하기 -->
	<select id="getTotal_comp" resultType="int">
		select count(*)
		from tbl_order
		where delivery = '배송완료'
	</select>
	
	
	<!-- 환불 대기 목록 -->
	<select id="refundList_wait" resultType="com.pila.domain.RefundVO">
		select *
		from refund
		where refundState = '환불대기'
	</select>
	
	<!-- 환불 완료 목록 -->
	<select id="refundList_comp" resultType="com.pila.domain.RefundVO">
		select *
		from refund
		where refundState = '환불완료'
	</select>
	
	<!-- 환불 상태 변경 -->
	<update id="refundStats">
		update refund set refundState = #{refundState}
		where orderId = #{orderId}
	</update>
	
	<!--오늘하루 매출 구하기-->
	<insert id="todaySum">
 		insert into sales_day (salNum, salStock)
		values (
			seq_sales_day.nextval, (
				select nvl(SUM(amount),0) 
	 			from tbl_order 
	 			where delivery in ('배송준비','배송중','배송완료') and TO_CHAR(orderdate, 'YYYY-MM-DD')=TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	 			)
 			)
 	</insert>
 	
 	<!-- 매출표 가져오기 -->
 	<select id="sales_view" resultType="com.pila.domain.SalesVO">
 		<![CDATA[
 		select salNum, salDate, salStock
 		from ( 
 			select rownum rn, salNum, salDate, salStock
 			from (
 				select * 
 				from sales_day
 				where salNum > 0 ORDER BY salNum DESC
 				)
 			where rownum <= #{pageNum} * #{amount}
 			)
 		where rn > (#{pageNum} - 1) * #{amount}
 		]]>
 	</select>
 	
 	<!-- 총 게시물 수 구하는 식(페이징에서 마지막 페이지를 표시하기 위해) -->
 	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(salNum) 
			from sales_day
			where salNum > 0
		]]>
	</select>
 	
	
</mapper>