<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pila.mapper.ProductMapper">

	<!-- 메인페이지 새상품 -->
	<select id="newProduct" resultType="com.pila.domain.GoodsVO">
		<![CDATA[
		select *
		from (
			select * 
			from tbl_goods order by regDate desc
			) 
		where ROWNUM <= 4
		]]>
	</select>
	
	<!-- 메인페이지 요가복 -->
	<select id="main_1" resultType="com.pila.domain.GoodsVO">
		<![CDATA[
		select *
		from (
			select * 
			from tbl_goods order by regDate desc
			) 
		where ROWNUM <= 4 and cateCode = '요가복'
		]]>
	</select>
	
	<!-- 메인페이지 요가용품 -->
	<select id="main_2" resultType="com.pila.domain.GoodsVO">
		<![CDATA[
		select *
		from (
			select * 
			from tbl_goods order by regDate desc
			) 
		where ROWNUM <= 4 and cateCode = '요가용품'
		]]>
	</select>
	
	
	<!-- 전체상품 리스트 -->
	<select id="PagingAll" resultType="com.pila.domain.GoodsVO">
		<![CDATA[
			select *
			from (
				select rownum rn, gdsNum, gdsName, cateCode, price, stock, gdsDes, gdsImg, regDate, sellcount, thumbImg
				from tbl_goods
				where rownum <= #{pageNum} * #{amount} order by gdsNum desc
			)
			where rn > (#{pageNum}-1) * #{amount} 
		]]>
	</select>
	<!-- 요가복 리스트 -->
	
	<!-- 요가용품 리스트 -->
</mapper>